[Unit]
Description=CoinevoNET: Anonymous Network layer thingydoo.
Wants=network-online.target
After=network-online.target

[Service]
User=debian-coinevonet
SyslogIdentifier=coinevonet
ExecStartPre=/bin/bash -c "/usr/bin/coinevonet-bootstrap && /usr/bin/coinevonet -g"
ExecStart=/usr/bin/coinevonet
Restart=always

[Install]
WantedBy=multi-user.target